body
{
background-image: url(../Imagenes/RegistrarMascotaFondo.jpg);
background-position: 0px 950px;


}


.registrarmascota
{


    position: relative;
    top: 150px;


}

.HistoriasClinicas
{


    position: relative;
    top: 150px;


}

.Boton
{


    position: relative;
    top: 320px;


}

.Salto
{

    position: relative;
    top: 350px;


}

