<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Medico veterinario</title>
    <link type='image/png' href='{% static "Imagenes/MedicoVeterinarioIcono.png" %}' rel='icon' />
    <link type='text/css' href='{% static "css/EstilosMedicoVeterinario.css" %}' rel='stylesheet' />
</head>
<body>
    <center>

        <div class="Salto">
            <a href="http://127.0.0.1:8000/RegistrarMascota"> Registra una mascota </a>
            </div>


        <div class="Salto">
            <a href="http://127.0.0.1:8000/HistoriaClinica"> Genera una Historia Clinica</a>
            </div>

        <div class="Salto">
                <a href="http://127.0.0.1:8000/RecetarMedicamentos/">Receta un medicamento</a>
                </div>
                
    </center>
</body>
</html>